html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*---------------NavBar----------------*/

/* Style de base pour les liens */
.nav-link {
    color: #2C1810;
    text-decoration: none;
    padding: 8px 16px;
    transition: all 0.3s ease; /* Pour une animation fluide */
}

    /* Effet au survol */
    .nav-link:hover {
        color: #666666;
        transform: translateY(-2px); /* Léger effet de soulèvement */
        border-bottom: 2px solid #666666; /* Soulignement au survol */
        font-weight : bold;
    }

/*---------------End NavBar----------------*/

/*---------------Index --------------------*/
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.page-title {
    text-align: center;
    color: #796157;
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: 'Libre Baskerville', serif;
    font-style:italic
}

.add-car-button {
    display: block;
    width: fit-content;
    margin: 0 auto 40px;
    padding: 10px 20px;
    background-color: #D9A963;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cars-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-top: 20px;
}

.car-card {
    display: flex;
    gap: 20px;
}

.car-image {
    width: 594px;
    height: 316px;
    object-fit: cover;
    border-radius: 8px;
}

.car-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.car-info {
    color: #796157;
    margin: 2px 0;
}

a {
    text-decoration:none;
    color:black
}

