<link rel="stylesheet" href="/css/Completed.css" />



<div class="confirmation-container">
    <h1 class="confirmation-title">Merci !</h1>
    <p class="confirmation-message">votre voiture a bien été publiée</p>
    <a href="/" class="back-button">Retour à l'accueil</a>
</div>