@model ExpressVoitures.ViewModels.CarCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <!-- Input avec datalist pour la marque -->
            <div class="form-group">
                <label for="Brand" class="control-label">Marque</label>
                <input type="text" class="form-control" id="Brand" name="Brand" list="brandList" value="@Model.Brand" />
                <datalist id="brandList">
                    @foreach (var brand in Model.BrandList)
                    {
                        <option value="@brand.Value"></option>
                    }
                </datalist>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            
            <!-- Input avec datalist pour le modèle -->
            <div class="form-group">
                <label for="Model" class="control-label">Modèle</label>
                <input type="text" class="form-control" id="Model" name="Model" list="modelList" value="@Model.Model" />
                <datalist id="modelList">
                    @foreach (var modele in Model.ModelList)
                    {
                        <option value="@modele.Value"></option>
                    }
                </datalist>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingPrice" class="control-label"></label>
                <input asp-for="SellingPrice" class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
