@model ExpressVoitures.ViewModels.CarViewModel
<link rel="stylesheet" href="/css/Completed.css" />


<div class="confirmation-container">
    <h1 class="confirmation-title">@Model.Year @Model.Brand @Model.Model @Model.Finition</h1>
    <p class="confirmation-message">a bien été supprimée</p>
    <a href="/" class="back-button">Retour à l'accueil</a>
</div>