@model ExpressVoitures.ViewModels.CarEditionViewModel

@{
    ViewData["Title"] = "Edit";
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

}

<link rel="stylesheet" href="~/css/Create.css" />
<div class="container">
    <a href="/Car" class="back-link">
        <span class="back-arrow">Retour</span>
    </a>
    <h1 class="form-title">Mise à jour du véhicule</h1>

    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="CarId" />

        <div class="form-group">
            <label asp-for="SellingPrice" class="control-label">Prix de vente</label>
            <input asp-for="SellingPrice" class="form-control" type="number" />
            <span asp-validation-for="SellingPrice" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Year" class="control-label">Année</label>
            <input asp-for="Year" class="form-control" type="number" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Brand" class="control-label">Marque</label>
            <select class="form-control" id="Brand" name="Brand">
                @foreach (var brand in Model.BrandList)
                {
                    <option value="@brand.Value">@brand.Text</option>

                }
            </select>
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ModelSelect" class="control-label">Modèle</label>
            <select class="form-control" id="ModelSelect" name="Model">
                @foreach (var modele in Model.ModelList!)
                {
                    <option value="@modele.Value">@modele.Text</option>

                }
            </select>
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Finition" class="control-label">Finition</label>
            <input asp-for="Finition" class="form-control" type="text" />
            <span asp-validation-for="Finition" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Image" class="control-label">Visuel</label>
            <div class="file-upload-wrapper">
                <label for="Image" class="file-upload-button">
                    Ajouter une image
                </label>
                <input type="file" asp-for="Image" class="form-control" id="Image" accept="image/*" />
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Mettre à jour" />
        </div>
    </form>
</div>


